<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h4>Todo List Application</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput #name placeholder="Enter the task Name" >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" style="margin-left:10px" (click) = AddTask(name.value)>Add Task</button>
      <button mat-raised-button color="warn" style="float:right; margin-right:10px">Delete Task</button>
    </mat-card-actions>
  </mat-card>
</div>
